.success__wrap {
    margin: 0 auto; 
    width: $body-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .head__text {
        font-size: $fs-body-large;
        margin: 0 0 2em 0;

        &--red {
            font-size: calc($fs-body-large + 0.8rem);
            color: $main-red;
            margin: 0 0 6px 0;
        }
    }

    .body__text {

        &--red {
            color: $main-red;
        }
    }
}