@font-face {
    font-family: HafferRegular;
    src: url("../assets/fonts/haffer/Haffer-Regular.otf");
}

@font-face {
    font-family: RzaRegular;
    src: url("../assets/fonts/rza/Rza-Regular.otf");
}

$fs-body: clamp(0.8rem, 0.5rem + 0.6vw, 1.2rem);
$fs-body-large: clamp(1rem, 1rem + 0.7vw, 1.8rem);
$fs-button: clamp(0.9rem, 0.6rem + 0.4vw, 1.2rem);
$fs-button-large: clamp(1rem, 0.9rem + 0.7vw, 1.2rem);


body,
input {
    font-family: HafferRegular, sans-serif;
    font-size: $fs-body;
}

h2,
button,
.form__step p {
    font-family: RzaRegular, sans-serif;
    letter-spacing: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.body__text {
    font-size: $fs-body;
}